/*内容*/
.content .title {
	margin: 74px auto;
	text-align: center;
	font-size: 24px;
}

.news .arcticle ul li {
	font-size: 18px;
	height: 110px;
	width: 100%;
	line-height: 110px;
	border-bottom: 1px dashed gray;
}

.news .arcticle ul li a:hover {
	text-decoration: underline;
	color: #67CEC7;
}

.title .content {
	width: 1200px;
	height: 755px;
	font-size: 24px;
	text-align: center;
}
/*正文*/
.news{
	height: 665px;
	color:#666;
}
.arcticle{
	width: 100%;
	height:665px;
	margin:0px auto;
	text-align: left;
	/*border:1px solid red;*/
}
/*页面*/
.page{
	width: 1200px;
	height:90px;
	margin:70px auto;
	/*border:1px solid red;*/
}
.pageul{
	width: 400px;
	height:90px;
	margin:0px auto;
}
.pageul li{
	width: 25px;
	height:30px;
	float: left;
	margin:25px;
	font-weight: bolder;
	color:#4D4D4D;
	text-align: center;
	line-height: 30px;
	border:1px solid #494848; 
}