body {font-family:"微软雅黑";margin:0; padding:0; background: #fff; font-size:16px; color:#000;}
div,form,img,ul,ol,li{margin: 0; padding: 0; border: 0;}
li{list-style-type:none;}
img{vertical-align:top;}
a, a:hover, a:visited, a:link {
    text-decoration: none; 
    color: #4d4d4d; 
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.f14 {
    font-size: 14px;
}

.f18 {
    font-size: 18px;
}

.block {
    display: block;
}

.clearfix:after{
    content:'';
    clear:both;
    overflow:hidden;
    height:0px;
    *zoom:1;
}

.clamp_1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clamp_2 {
    -webkit-line-clamp: 2;
    line-height: 24px;
    height: 48px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
}

.clamp_3 {
    -webkit-line-clamp: 3;
    line-height: 24px;
    height: 72px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
}

/*改变谷歌滚动条的样式*/
::selection{background:pink;}
::-webkit-scrollbar{width:10px;height:50px;background:#fff;}
::-webkit-scrollbar-button{background-color:#e5e5e5;}

::-webkit-scrollbar-track{background:#999;}
::-webkit-scrollbar-track-piece{background:#ccc}
::-webkit-scrollbar-thumb{background:#666;}
::-webkit-scrollbar-corner{background:#82AFFF;}
::-webkit-scrollbar-resizer{background:#FF0BEE;}

scrollbar{-moz-appearance:none !important;background:rgb(0,255,0) !important;}
scrollbarbutton{-moz-appearance:none !important;background-color:rgb(0,0,255) !important;}
scrollbarbutton:hover{-moz-appearance:none !important;background-color:rgb(255,0,0) !important;}
